{
  "s3_access_key": "AKIA-DUMMY-ACCESS-KEY",
  "s3_secret_key": "your-secret-access-key-here",
  "s3_bucket": "my-bucket",
  "s3_https": "https://my-bucket.s3.eu-west-3.amazonaws.com",
  "s3_region": "eu-west-3",
  "s3_endpoint_url": "",
  "s3_prefix": "",
  "s3_use_path_style": "false",
  "s3_verify_ssl": "true"
}
